<header
  class="bg-[url('/images/banner-2023.jpg')] bg-[length:200%] sm:bg-contain bg-[left_30%_top] sm:bg-top bg-no-repeat"
>
  <div class="container pt-[25%] sm:pt-[14%]">
    <img
      src="/images/bell-type.svg"
      alt="Ring Out title graphic"
      class="w-[80%] m-auto sm:w-[60%]"
    />
  </div>
</header>

<style></style>
