---
import headerBG from "../assets/banner-2023.jpg";
import bellType from "/images/bell-type.svg?raw";
import { Image } from "astro:assets";
---

<header
  class="relative bg-[length:200%] sm:bg-contain bg-[left_30%_top] sm:bg-top bg-no-repeat"
>
  <Image
    src={headerBG}
    alt="Painting of church with bells ringing"
    format="avif"
    quality="mid"
    class="absolute w-[200%] left-[-30%] max-w-none sm:max-w-full sm:left-auto sm:w-full sm:h-full sm:object-contain sm:object-top -z-10"
  />
  <div class="container pt-[25%] sm:pt-[14%]">
    <div class="w-[80%] m-auto sm:w-[60%]">
      <Fragment set:html={bellType} />
    </div>
  </div>
</header>
