---

---

<div class="container">
  <p class="lead text-center max-w-prose mx-auto pt-16">
    Ring Out shines a light on the historical bell-founding activities of the
    Cockey family in Frome, promotes church bell-ringing as a vibrant cultural
    tradition and presents new and exciting ways with bells. There will be
    talks, walks, tours and music as well as opportunities to have a go at
    ringing hand-bells and tower-bells.
  </p>
</div>

<style>
  .lead::first-letter {
    -webkit-initial-letter: 2;
    initial-letter: 2;
    @apply text-primary;
  }
</style>
