---
const { keyword, sectionTitle } = Astro.props;
---

<h2 id=`title-${keyword}` class="text-3xl lg:text-5xl">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="735.227"
    height="105.184"
    viewBox="0 0 735.227 105.184"
  >
    <defs>
      <clipPath id="clip-path">
        <rect
          id="Rectangle_30"
          data-name="Rectangle 30"
          width="735.227"
          height="105.184"
          fill="#c2daa0"></rect>
      </clipPath>
    </defs>
    <g id="Group_64" data-name="Group 64" clip-path="url(#clip-path)">
      <path
        id="Path_264"
        data-name="Path 264"
        d="M21.507,22.934,23.768,23a20.824,20.824,0,0,1-5.807,1.588c2.947-.1,5.983-.34,9.082-.7,3.1-.274,6.26-.669,9.452-1.168C42.876,21.641,49.382,20.55,55.758,19,62.13,17.619,68.376,15.97,74.225,14.3c5.845-1.595,11.31-3.489,16.091-5.152,7.028-.592,13.184-2.672,13.744-4.621.553-2.014-4.728-3.223-11.867-2.609a44.057,44.057,0,0,1-4.58-.218A139.688,139.688,0,0,0,70.444.047c-6.227-.079-12.887-.122-19.9.42,2.727.075,5.566.141,8.281.318a86.642,86.642,0,0,0-12.5,1.161l1.651.778C40.97,2.6,32.731,3.958,25.138,5.916c-7.593,2.2-14.54,4.893-19,8.051-8.949,6.254-4.716,10.095,9.183,9.2Z"
        transform="translate(1.069 0)"
        fill="#c2daa0"></path>
      <path
        id="Path_265"
        data-name="Path 265"
        d="M48.208,19.571c-4.081.052-8.086.22-12.062.379s-7.93.216-11.884.5l-1.617-.286.918,2.8.126-.222A65.8,65.8,0,0,1,37.007,17.03c5.193-1.81,10.9-3.21,16.38-4.562l3.894-1.134c1.85-.681,3.05-1.443,3.385-2.13.789-1.538-2.788-2.425-7.984-1.69L46.7,8.326C32,9.2,9.018,14.591,1.815,21.946c-1.619,1.631.2,2.643.808,3.865C2.4,27.9,8.046,28.048,15.2,26.365c7.175-1.568,13.126-4.519,13.371-6.551l3.736-.358c-.921.426-1.858.862-2.793,1.3,1.809-2.116,8.323-3.865,13.107-5.782L49.9,13.176l-4.65-3.811-3.769,1.309a7.212,7.212,0,0,1,.865.338C35.2,13.806,28.508,16.3,20.68,19.087c-3.252,1.372-6.506,2.634-9.74,4.095-2.567,1.586-2.1,2.79.96,2.781,1.513-.093,3.033-.088,4.549-.12l-2.076-.1,15.683-2.312c5.261-.644,10.5-1.388,15.585-1.763a9.125,9.125,0,0,0,4.311-1.209c.667-.576-.077-.985-1.743-.887"
        transform="translate(0.865 9.198)"
        fill="#c2daa0"></path>
      <path
        id="Path_266"
        data-name="Path 266"
        d="M10.439,16.408a21.179,21.179,0,0,0-5.651.876l-.939.628,3.324-.093c2.385-.068,3.5-.814,3.266-1.411"
        transform="translate(2.867 20.812)"
        fill="#c2daa0"></path>
      <path
        id="Path_267"
        data-name="Path 267"
        d="M4.442,17.071l-1.389.039c.332.061.653.122.963.181.248-.1.256-.107.256-.107s.007-.007.169-.113"
        transform="translate(2.274 21.653)"
        fill="#c2daa0"></path>
      <path
        id="Path_268"
        data-name="Path 268"
        d="M256.41,6.551q46.291,3.042,92.807,6.1c1.036.066,1.916-.1,1.975-.39.058-.247-.742-.544-1.7-.585l-92.664-6.15c-1.038-.05-1.9.125-2.05.39-.058.29.667.56,1.633.633"
        transform="translate(189.762 7)"
        fill="#c2daa0"></path>
      <path
        id="Path_269"
        data-name="Path 269"
        d="M387.888,23.4c-.743.179-.722.476.031.721a5.629,5.629,0,0,0,2.546.125c.619-.152.607-.51-.037-.719a5.592,5.592,0,0,0-2.54-.127"
        transform="translate(288.503 29.572)"
        fill="#c2daa0"></path>
      <path
        id="Path_270"
        data-name="Path 270"
        d="M669.051,73.861a110.851,110.851,0,0,0-12.13,1.009,6.019,6.019,0,0,1-2.024-.134c.237.474-.6.846-2.164.957-30.807,2.182-63.85,1.969-96.393,2.441a2.915,2.915,0,0,1-1.4,1.007c-2.279,1.041-6.81,1.409-11.484.987l-3.525-.449L497.3,75.826a67.274,67.274,0,0,1-9.956.544c-12.3.916-24.637,1.756-37.233,2.307.785.343,1.255.742,1.237,1.157-.267.982-3.195,1.611-6.59,1.445l-5.137-.129,14.725,1.325a16.194,16.194,0,0,1,1.954.25c5.392.261,10.837.467,16.379.6,48.372,1.121,93.961-.42,139.251-2.4a5.628,5.628,0,0,1,2.554.24c.433.259.344.581-.487.669-28.617,3.5-53.425,8.77-85.661,10.532-38.367,2.123-76.2,3.8-115.408,4.968-40.946-1.413-78.849-.048-120.559,1.03l-41.731.955c-13.72.236-27.321.472-40.885.708-26.966.547-53.5,1.2-80.075,3.2-19.865,2.155-38.1.177-41.119-5.2-1.747-3.28,2.438-7.354,10.544-10.451l-4.892.451-7.763.286c-7.361.181-13.669-.218-17.782-1.6-1.874-.529-3.76-1.093-5.632-1.558a104.362,104.362,0,0,0-13.547-4.244c-4.783-1.2-9.443-2.452-12.715-4.24l1.094-2.082-1.471-.234c-4.8-.315-8.145-1.232-9.487-2.84l.138-2.289c.625-2.733,2.629-5.646,6.107-8.752a3.3,3.3,0,0,1,.954-2.967c-3.528-1.565-5.388-3.482-3.162-6.71-2.045-.179-1.851-1.211.415-2.318a16.513,16.513,0,0,1,2.736-.916l-.024,0a27.729,27.729,0,0,0-3.045-.774c-1.984.254-3.132.4-3.132.4l-9.827,1.561c-2,.057-3.634.07-4.776-.011s-1.78-.172-1.78-.172C6.6,45.835,6.58,45.839,6.981,43.984c.227-.234.485-.472.762-.705l-4.769.485a10.474,10.474,0,0,1-1.759-.2c-.3-.86-.3-.86-.954-1.023A1.14,1.14,0,0,1,0,41.906c1.774-1.529,1.776-1.529,1.78-1.828a8.724,8.724,0,0,1,1.014-.787c2.232-.921,3.12-1.286,3.495-1.44,5.254,1.007,5.271,1.009,5.271,1.009l.939-1.093,1.3.767-.794-.812c2.561-.079,2.563-.043,2.563-.043l-2.954-.127c5.9-1.166,5.908-1.073,8.248-1.7a35.661,35.661,0,0,0,4.755-1.277,1.083,1.083,0,0,1-.288-.476c6.32-1.143,6.327-1.009,12.495-1.9a12.78,12.78,0,0,1,1.515.354,7.523,7.523,0,0,1,2.923-.966c1.082-.17,2.157-.34,3.231-.463.234-.093.461-.181.672-.263a.267.267,0,0,0-.016-.075l2.661-.953c.532-.209.55-.213.55-.213l.033,0C51.228,29,53.879,27.97,60.94,25.548c1.919-.175,3.708-.286,5.4-.356-.553-.07-1.084-.141-1.6-.209-1.033-.166-.2-1.177-.754-1.177-3.413.025-6.9.2-10.434.51-3.537.29-7.128.6-10.746,1.019-7.236.957-14.6,1.953-21.91,3.282-2.586.724-5.1.792-5.587.179-.445-.635,1.319-1.724,3.98-2.452,28.826-12.05,65.625-16.585,95.955-15.19,3.99-.15,7.972-.136,11.97-.234s8-.145,11.992-.15c-.389-.129-.775-.256-1.157-.386q3.115.177,6.217.349l.67,0L140.2,9.369l-3.27-.295c-18.565.411-35.594-.626-53.823.034-9.792.333-18.31.1-27.673.485-2.392.338-4.1.064-3.889-.64.213-.674,2.394-1.518,4.735-1.86a318.878,318.878,0,0,1,47.716-5.977c15.745-.694,30.66.054,42.918,2.194a72.581,72.581,0,0,1,15.349.862c.079,0,.168,0,.248.009l-3.439-1.214c4.154.159,6.372,1.232,10.148,1.6-.459-.581-.963-1.216-1.424-1.8,20.42.549,42.326-.057,60.959,2.668l2.15.175A168.783,168.783,0,0,1,256.54,3.117c-3.216-.225-6.356-.447-9.576-.674A165.855,165.855,0,0,1,268.1,1.4c19.992.429,42.33,3.641,52.819,8.686l116.026,1.209c1.994,0,3.774.454,4.114,1.007.194.542-1.132,1.019-3.125,1.023-27.7.842-55.78.95-83.923,1.068,23.5,1.549,47.093,3.2,71.161,4.235q4.6.058,9.248.111c3.059.032,6.084.3,9.1.631,30.747,1.2,59.9,2.747,91.279,2.867,26.8.064,50.248.007,76.94-.322,37.484-.447,71.627-1,108.563,1.014,4.915.1,9.433,1.354,9.965,2.779s-3.059,2.5-7.99,2.4c-77.167.093-152.992,1.159-233.627-2.981-8.7-.442-17.26-.88-25.771-1.313a1.183,1.183,0,0,1,.2.572c-.017.76-.845,1.425-2.219,1.955q14.5.885,29.167,2.1c27.223-.411,54.484-.744,83.429,1.513,19.874,1.583,37.823,4.14,56.166,6.624,23.325.358,46.587.517,70.137,1.064A3.885,3.885,0,0,1,702,38.07c.33.288-.187.531-1.139.574-16.232.842-32.848,1.236-49.618,1.509,2.61,1.009,4.144,2.219,3.894,3.439-.25,1.266-2.331,2.3-5.481,2.933l11.373.7c2.343.17,4.172.764,4.085,1.391-.073.687-1.952,1.08-4.182.941q-23.207-1.371-46.353-2.736l-55.657-.989c2.553.971,4.418,2.1,5.287,3.31l0,.023q4.318.167,8.605.329c52.58-.969,106.358.007,160.47,3.67,1.061.05,1.928.331,1.938.633s-.818.495-1.773.42q-24.5-1.664-48.888-2.618a.6.6,0,0,0,.066.018c.649.213.761.547.035.719a6.091,6.091,0,0,1-2.547-.118c-.747-.245-.667-.565-.049-.717-30.285-1.157-60.385-1.545-90.1-1.254,27.575,1.089,55.145,2.391,82.649,4.439l9.078-.6a4.232,4.232,0,0,1,2.237.5c.223.252-.394.519-1.248.54l-2.537.136c5.208.4,9.188,1.844,9.054,3.355-.337,1.54-4.854,2.493-10.265,2.141q-21.754-.742-43.4-1.8l-4.694.025c-1.586.161-3.156.322-4.734.481q33.666,2.668,67.094,5.732c1.912.091,3.53.617,3.552,1.157s-1.535.916-3.455.826c-39.335.025-79.128-.631-119.072-1.645l-39.821,5.1c1.684.1,3.388.2,5.093.309C584.88,73,621.9,68.295,663.96,69.184c1.056-.016,1.923.268,2.052.544.1.277-.618.513-1.685.458-20.537-.2-39.32,1.091-59.706,1.629-16.89.465-32.948.878-48.651,1.881,32.021.912,62.807-.356,94.563.036a10.065,10.065,0,0,1,3.655.488c.079-.145.366-.272.792-.338,3.987-.531,8.328-.837,12.76-1.046a4.132,4.132,0,0,1,2.35.415c.431.259-.091.5-1.038.61M111.091,30.08c-.319-.1-.579-.179-.824-.254.881.1,1.823.2,2.867.3l4.062,1.851-6.105-1.9M62.207,44.256l.028,0-2.382-.857,2.354.862M376.86,17.787c-16.893-.569-33.614-1.47-50.293-3.242l12.228-.079c12.654.969,25.335,2.044,38.065,3.321M77.109,25.507a66.383,66.383,0,0,1,11.659,2.527,83.8,83.8,0,0,1,9.176-1.3c4.219-.4,8.384-.685,12.5-.878s8.2-.433,12.242-.476c-1.082-.7.858-.744,1.843-.905l3.029-.4c-8.63,0-17.312.159-26.16.358-3.992.172-8.154.349-12.27.526-4.121.259-8.2.488-12.022.544m-59.93,14.4-.778-.1,1.441-1.52s-.284.692-.663,1.622m-2.24,2.545,1.248-.147c-.377.529-.8.467-1.248.147M26.4,41.2a7.609,7.609,0,0,0-1.677-.236c1.67.234,1.677.236,1.677.236M38.672,73.07,42.2,66.462l-3.935,6.461Z"
        transform="translate(0 1.097)"
        fill="#c2daa0"></path>
    </g>
  </svg>
  <Fragment set:html={sectionTitle} />
</h2>

<style>
  h2 {
    position: relative;
    color: var(--dark);
    font-weight: normal;
    max-width: 30ch;
  }
  svg {
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translate(-10%, -50%);
  }
</style>
